<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlobXDo7L88J1Q7W7xzpYv2SpYOz9wvQU</string>
	<key>GCM_SENDER_ID</key>
	<string>143011490318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripit</string>
	<key>PROJECT_ID</key>
	<string>tripit-10181</string>
	<key>STORAGE_BUCKET</key>
	<string>tripit-10181.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143011490318:ios:ed58e9c4f512edf320ea5f</string>
</dict>
</plist>